.container {
}

.wrapper {
}

.form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  font-family: Arial, sans-serif;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #007bff;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 42px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.cartList {
  list-style: none;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 470px;
  overflow: hidden;
  overflow-y: auto;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
}

.submitWrapper {
  display: flex;
  gap: 64px;
  justify-content: end;
  align-items: center;
}

.totsoPriceCart {
  margin: 0;
}
